body {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../Pictures/clouds.jpg");
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 720px) {
    body {
        background-image: url();
        background-color: black;
        margin-left: auto;
        margin-right: auto;
    }
}

.center-text {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: black;
}

.flex-item1 {
    flex-grow: 1;
    flex-basis: 150px;
    margin: 10px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% 80%;
}

.grid-topmenu {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.text {
    color: lightgray;
    font-size: 1.2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

@media all and (max-width: 720px) {
    .text {
        color: white;
        font-size: 1.25rem;
        text-shadow: -0px -0px 0 #000, 0px -0px 0 #000, -0px 0px 0 #000, 0px 0px 0 #000;
        text-align: center;
    }
}

.text-header {
    color: lightgray;
    font-size: 1.4rem;
    text-align: center;
}

@media all and (max-width: 720px) {
    .text-header {
        color: white;
        font-size: 1.4rem;
        text-align: center;
    }
}

.text-info {
    color: ghostwhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1rem;
}

@media all and (max-width: 720px) {
    .text-info {
        color: white;
        text-shadow: 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000;
        font-size: 1rem;
    }
}

.link-text {
    color: lightgray;
    text-align: center;
    font-size: 2rem;
}

@media all and (max-width: 720px) {
    .link-text {
        color: white;
        text-align: center;
        font-size: 1.5rem;
    }
}

.video {
    width: 560px;
    height: 315px;
}

@media all and (max-width: 720px) {
    .video {
        width: 300px;
        height: 168px;
        border: 0;
    }
}

.gap {
    padding-top: 50px;
}

a {
    outline: none;
    text-decoration: none;
}

a:visited,
a:link {
    color: white;
}

a:focus,
a:hover {
    opacity: 0.5;
}

a:active {
    color: whitesmoke;
    text-shadow: 0px 0px 1px #000000;
}